

/* Main Registrarse */
body main section form div{
    padding: 5px;
    margin-left: 8px;
    margin-bottom: 5px;
}

body main section input{
    margin-top: 5px;
    margin-left: 10px;
}

/* Main sucursales */
body main section h1{
    color: rgb(109, 64, 152);
    text-align: center;
}

body main section h3{
    color: rgb(109, 64, 152);
    margin-left: 20px;
}

/* Main contacto*/
body main section h2{
    margin-left: 20px;
}

body main section form div textarea{
    margin-left: 8px;
}


/* Main Nosotros */
body main h1{
    color: rgb(109, 64, 152);
    text-align: center;
    padding-bottom: 5vh;
    font-size: 3rem;
}
main h1 section p{
    margin-left: 10px;
    margin: auto;
    /* margin-bottom: 2vh; */
}
body main section h2{
    margin-left: 20px;
    margin-bottom: 2vh;
    font-size: 2rem;
}
body main section h3{
    margin-left: 20px;
    margin-bottom: 2vh;
    font-size: 2rem;
}
body main h3 p{
    margin-bottom:2vh;
}


/* MAIN PRODUCTOS */
main section h4{
    margin-left: 20px;
    margin-bottom: 2vh;
    color: rgb(109, 64, 152);
    font-size: 2rem;
}
/* main section aside{
    padding-left: 20px;
} */


/* .contenedor-redes{
    padding-bottom: 30px;
    align-items: center;
} */

