*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul, ol{
    list-style-type: none;
}
a{
    color: $color-subtitulo;
    text-decoration: none;
}
h1, h2, h3{
    color: $color-titulo;
}
